
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/css/styles.css")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ARCADEBLOG 
    link(rel="icon" href="/imagenes/arcadetitulo.png")

  body
    header.header
      .logo
        a.prueba(href="/")
          img.logo-image(src="/imagenes/logo3.png", alt="Logo")
      nav
        ul.nav-links
          li.search
            form.search-form
              input(type="text" placeholder="Buscar...")
              button(type="submit") Buscar
          if user
            li
              a.btn4(href="/logout") Logout
            li
              a.btn3(href="/publicacion") Perfil
          else
            li
              a.btn2(href="/registro") Registrar
            li
              a.btn(href="/login") Login
            
           
    .content
    block content
